html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
input {
	font: menu;
}

:root {
	color-scheme: light dark;
}

h1 {
	text-align: center;
}

.ctl-create-new-clipping,
.ctl-clear-storage {
	display: none;
}

li {
	width: 90%;
	display: block;
	border: 0;
	line-height: 2.4em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

li img {
	float: left;
	line-height: 71px;
}

.error-message {
	color: red;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: black;
	}
}