html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
input {
	font: menu;
	font-size: 1em;
}

:root {
	color-scheme: light dark;
}

h1 {
	text-align: center;
}

.ctl-create-new-clipping,
.ctl-clear-storage {
	display: none;
}

ul {
	display: block;
}

li {
	width: 90%;
	display: block;
	border: 0;
	line-height: 2.4em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	list-style: square inside url('../../assets/images/tick.png');
}

li:hover {
	background-color: #adadad;
}

li:hover a {
	color: #ffee00;
	font-weight: bold;
}

li img {
	float: left;
	line-height: 71px;
}

.error-message {
	color: red;
}

a,
img {
	-webkit-app-region: no-drag;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

a img {
	margin-right: 20px;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: white;
		/* -webkit-app-region: drag; */
		-webkit-user-select: none;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: black;
		/* -webkit-app-region: drag; */
		-webkit-user-select: none;
	}
}